In [1]:
# 第4章 リストのネスト
M=[[1,2,3],
       [4,5,6],
       [7,8,9]]
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
M[1]

[4, 5, 6]

In [3]:
M[1][2]

6

In [5]:
col2 = [row[1] for row in M]
col2

[2, 5, 8]

In [6]:
[row[1] + 1 for row in M]

[3, 6, 9]

In [7]:
[row[1] for row in M if row[1] % 2 == 0]

[2, 8]

In [9]:
T = [1,2,3,4,5]
[t for t in T if t % 2 != 0]

[1, 3, 5]

In [10]:
diag = [M[i][i] for i in [0, 1, 2]]
diag

[1, 5, 9]

In [11]:
doubles = [c * 2 for c in 'spam']
doubles

['ss', 'pp', 'aa', 'mm']

In [13]:
G = (sum(row) for row in M)
G
#next(G)

In [14]:
list(map(sum, M))

[6, 15, 24]

In [15]:
{sum(row) for row in M}

{6, 15, 24}

In [18]:
D = {'food':'Spam', 'quantity':4, 'color':'pink'}
D['food']
D

{'color': 'pink', 'food': 'Spam', 'quantity': 4}

In [19]:
D['quantity']+=1
D

{'color': 'pink', 'food': 'Spam', 'quantity': 5}

In [20]:
D = {}
D['name']='Bob'
D['job']='dev'
D['age']=40
D

{'age': 40, 'job': 'dev', 'name': 'Bob'}

In [21]:
rec = {'name':{'first':'Bob','last':'Smith'},
           'job':['dev', 'mgr'],
           'age':40.5}
rec

{'age': 40.5, 'job': ['dev', 'mgr'], 'name': {'first': 'Bob', 'last': 'Smith'}}

In [22]:
rec['name']

{'first': 'Bob', 'last': 'Smith'}

In [23]:
rec['job']

['dev', 'mgr']

In [24]:
rec['job'][1]

'mgr'

In [25]:
rec['job'].append("janitor")

In [26]:
rec

{'age': 40.5,
 'job': ['dev', 'mgr', 'janitor'],
 'name': {'first': 'Bob', 'last': 'Smith'}}

In [27]:
D = {'a':1, 'b':2, 'c':3}
D

{'a': 1, 'b': 2, 'c': 3}

In [28]:
Ks = list(D.keys())
Ks

['a', 'b', 'c']

In [29]:
for key in Ks:
    print(key, '=>', D[key])

a => 1
b => 2
c => 3

In [30]:
for key in D.keys():
    print(key, '->', D[key])

a -> 1
b -> 2
c -> 3

In [31]:
type(D.keys())

dict_keys

In [32]:
type(list(D.keys()))

list

In [33]:
sorted(D)

['a', 'b', 'c']

In [34]:
type(sorted(D))

list

In [35]:
D

{'a': 1, 'b': 2, 'c': 3}

In [36]:
D['e'] = 99
D

{'a': 1, 'b': 2, 'c': 3, 'e': 99}

In [37]:
D['f']

KeyError: 'f'

In [38]:
'f' in D

False

In [39]:
'e' in D

True

In [40]:
99 in D

False

In [41]:
D[1] = 3

In [42]:
D

{'a': 1, 'b': 2, 'c': 3, 'e': 99, 1: 3}

In [43]:
1 in D

True

In [44]:
3 in D

False

In [50]:
value = D.get('x', 300)
value

300

In [51]:
value = D['x'] if 'x' in D else 300
value

300

In [53]:
#タプル
T = (1,2,3,4)
len(T)

4

In [54]:
T + (5,6)

(1, 2, 3, 4, 5, 6)

In [55]:
T.index(4)

3

In [56]:
T.count(4)

1

In [57]:
T

(1, 2, 3, 4)

In [64]:
T += (5,6)
T

(1, 2, 3, 4, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6)

In [69]:
T = (1,2,3,4)
T[0] = 2

TypeError: 'tuple' object does not support item assignment

In [70]:
T = ('spam', 3.0, [11,22,33])
T[1]

3.0

In [71]:
T[2][1]

22

In [72]:
T.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [73]:
f = open('data.txt', 'w')
f.write('Hello')
f.close()

In [74]:
f=open('data.txt')
text = f.read()
text

'Hello'

In [75]:
dir(f)

['_CHUNK_SIZE',
 '__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_checkClosed',
 '_checkReadable',
 '_checkSeekable',
 '_checkWritable',
 '_finalizing',
 'buffer',
 'close',
 'closed',
 'detach',
 'encoding',
 'errors',
 'fileno',
 'flush',
 'isatty',
 'line_buffering',
 'mode',
 'name',
 'newlines',
 'read',
 'readable',
 'readline',
 'readlines',
 'seek',
 'seekable',
 'tell',
 'truncate',
 'writable',
 'write',
 'writelines']

In [76]:
data = open('data.txt', 'rb').read()
data

b'Hello'

In [78]:
X = set('spam')
Y = {'h','a','m'}
X, Y

({'a', 'm', 'p', 's'}, {'a', 'h', 'm'})

In [79]:
X&Y

{'a', 'm'}

In [80]:
X | Y

{'a', 'h', 'm', 'p', 's'}

In [81]:
X - Y

{'p', 's'}

In [82]:
1/3

0.3333333333333333

In [83]:
(2/3) + (1/2)

1.1666666666666665

In [84]:
import decimal
d = decimal.Decimal('3.141')
d+1

Decimal('4.141')

In [85]:
decimal.getcontext().prec = 2
decimal.Decimal('1.00') / decimal.Decimal('3.00')

Decimal('0.33')

In [86]:
from fractions import Fraction
f = Fraction(2,3)
f + 1

Fraction(5, 3)

In [87]:
f + Fraction(1,2)

Fraction(7, 6)

In [90]:
L = [None]*10
L

[None, None, None, None, None, None, None, None, None, None]

In [97]:
# タイプ("List"型)の型は"type"型。
type(type(L))

yes

In [98]:
# タイプの判定について（3通り）
if type(L) == type([]):print('yes')

yes

In [93]:
if type(L) == list:
    print('yes')

yes

In [95]:
if isinstance(L, list):
    print('yes')

yes

In [101]:
#クラスについて
class Worker:
    def __init__(self, name, pay):
        self.name = name
        self.pay = pay
    def lastName(self):
        return self.name.split()[-1]
    def giveRaise(self, percent):
        self.pay *= (1.0 + percent)

In [102]:
bob = Worker('Bob Smith', 50000)
sue = Worker('Sue Jones', 60000)
bob.lastName()

'Smith'

In [103]:
sue.lastName()

'Jones'

In [104]:
sue.giveRaise(.10)

In [105]:
sue.pay

66000.0

In [ ]:
# ほぼ、Pythonの基本が網羅されていた章だった…疲れた…